.playlist-image{
    width: 60px;
    height: 60px;
}
.playlist-list{
    width: 100%;
    height:  80%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}
.playlist-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #333;
}
.menu-module{
    background-color: rgb(40,35,40, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spotify-input{
    width: 100%;
}
.play-button{
    width: 100%;
}