

.mode-label{
    text-align: center;
}

.personal-timer{
    width: 250px;
}

.time-adjust-button{
    background-color: inherit;
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    min-width: 60px;
    max-width: 60px;
    min-height: 40px;
}

.time-left-button{
    align-items: left;
}

.time-right-button{
    align-items: right;
}

.timer-controls{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}